# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=72e4c82ed7088d4da4209cf01708a279
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

# Docker
CONTAINER_NAME=snowtricks
WORKPATH=/var/www/snowtricks

# Blackfire
BLACKFIRE_SERVER_ID=a7c67634-5e4b-4afb-812f-e6d12984da04
BLACKFIRE_SERVER_TOKEN=80b4a84db81eeec45e752f5559f5e9c37a7b83df6399c3042fac19704e8a78df
BLACKFIRE_CLIENT_ID=8d309eeb-5bf6-431a-8f68-4b57ffac80ec
BLACKFIRE_CLIENT_TOKEN=02ecce3900a3a6b7c7e23699e21a6490e7a1aabd6345c383090a816fdcb94789

# Servers Ports
NGINX_PORT=8080
PHP_PORT=9000
VARNISH_PORT=8081

# Redis
REDIS_PORT=6379
REDIS_URL=redis://yourHost

# POSTGRESQL configuration
POSTGRES_CHARSET=utf8
POSTGRES_DB=yourDBName
POSTGRES_USER=YourUserName
POSTGRES_PASSWORD=YourPassword
POSTGRES_PORT=5432

# Database production configuration
DB_DRIVER_PROD=pdo_pgsql
DB_VERSION_PROD=9.6
DATABASE_URL_PROD=pgsql://username:password@yourHost:5432/yourDBname

# Database development configuration
DB_HOST= yourHostIPAddress
DB_DRIVER_DEV=pdo_pgsql
DB_CHARSET_DEV=utf8
DB_VERSION_DEV=9.6
DATABASE_URL_DEV=pgsql://username:password@yourHost:5432/yourDBname

# Database test configuration
DB_CHARSET_TEST=utf8mb4
DB_VERSION_TEST="5.7"
DB_DRIVER_TEST=pdo_sqlite
DATABASE_URL_TEST=sqlite:///%kernel.project_dir%/var/data.db

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###
