body {
  background-color: #2e3436;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  color: #d81b60; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #ffffff; }

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center; }

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px; }

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px; }

h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #e65100; }

label {
  font-size: 16px; }

.logo {
  background-image: url("../images/logo.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain; }

.avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 4px #01579b solid;
}

.menu {
  margin-bottom: -20px;
}

.header {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}
.card{
  height: 270px;
}
.card-image{
  height: 200px;
  overflow: hidden;
}
.card-image img{
  min-height: 200px;
}

.card-span {
  background-color: #5a5a5a;
  opacity: 0.8;
  line-height: 5px;
  width: 100%;
}

.card-edit {
  padding-right: 20px;
}

.alaune_wrapper {
  max-height: 600px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alaune_wrapper img {
  width: 100%;
}

.content_wrapper {
  background-color: #ffffff;
}

.content_wrapper p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px; }

.media_wrapper {
  background-color: #2e3436;
}

.videos {
  padding-left: 10px;
  padding-left: 10px;
}

.thumbnail {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden; }

.collapsible p{
  color: white;
}

.title {
  background-color: #01579b;
  width: 100%;
  margin-top: 10px; }

.description {
  background-color: #01579b;
  text-align: center;
  margin-top: -20px;
  line-height: 10px; }

.author {
  background-color: #5a5a5a;
  color: #ffffff;
  height: 40px;
  line-height: 40px;
  margin-bottom: -20px; }

.comments {
  padding-top: 20px;
  margin-top: -20px; }

.comments em {
  font-size: 11px;
  color: #ffffff; }

.comment_author {
  background-color: #01579b;
  height: 20px;
  line-height: 20px; }

.comment_content {
  min-height: 20px; }

.single_comment {
  background-color: #eeeeee; }

.form-errors {
  margin-top: 20px;
  padding-left: 20px;
  padding-top: 20px;
  height: 65px;
  background-color: red;
  color: white;
  border: 1px red solid;
  border-radius: 30px;
}

.flash-notice {
  background-color: #d4edda;
  color: #155724;
  border: 1px #d4edda solid;
  border-radius: 15px;
  width: 100%;
  min-height: 60px;
  text-align: center;
  padding-top: 15px;
}

.footer {
  padding-top: 0px;
}

.footer a {
  color:#ffffff;
}

/*# sourceMappingURL=style.css.map */
