{% extends 'base.html.twig' %}

{% block title %}SNOWTRICKS LOGIN{% endblock %}
{% block header %}
    <div class="col l12 header">
        <p>Votre compte a bien été validé. Vous pouvez maintenant vous
            <a href="{{ path('login')}}">connecter</a>
        </p>
        <a href="/">Revenir à la page d'accueil</a>
    </div>
{% endblock %}