{% extends 'base.html.twig' %}

{% block title %}MEDIA AJOUTE{% endblock %}
{% block content %}
<div class="row">
    <div class="col l10 offset-l1 s12">
        <p>Le média a bien été enregistré.</p>
        <a href="/">Revenir à la page d'accueil</a>
    </div>
</div>
{% endblock %}