{% extends 'base.html.twig' %}

{% block title %}FIGURE AJOUTEE{% endblock %}
{% block content %}
    <div class="row">
        <div class="col l10 offset-l1 s12">
            <p>La figure a bien été ajoutée</p>
            <a href="/trick/{{ trick.id }}">Revenir à la page de la figure</a><br><br>
            <a href="/">Revenir à la page d'accueil</a><br><br>
        </div>
    </div>
{% endblock %}