{% extends 'base.html.twig' %}

    {% block title %}SUPPRIMER UNE FIGURE{% endblock %}
    {% block content %}

        <p>La figure a bien été supprimée</p>
        <a href="/">Revenir à la page d'accueil</a>

    {% endblock %}