<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <title>Bienvenue sur Snowtricks !</title>
</head>
<body>
    <div class="row grey darken-1">
        <div class="col-l12">
            <img src="{{ logo }}" style="margin: auto; width: 350px;" ><br><br>
        </div>
    </div><br><br>

    <div class="row" id="content">
        <div class="col l12 content">
            <div style="font-size: 16px; font-family: 'Roboto', sans-serif; ">
                <h3 style="color: #01579b;">Réinitilalisation du mot de passe Snowtricks</h3>
                <p>Bonjour {{ name }}! Vous avez souhaité réinitialiser votre mot de passe.</p>
                <p>Veuillez cliquer sur le lien ci-dessous.</p>
                <p><a style="font-size: 16px; color: #d81b60" href="{{ url('reinitialize_password', {id : token }) }}">Réinitialisez votre mot de passe</a></p>
            </div>
        </div>
    </div>
</body>
</html>

