{% extends 'base.html.twig' %}
    {% block title %}CONNEXION{% endblock %}


{% block header %}
    <div class="col-lg-7 col-md-12 col-sm-12 header-login">
        <br><div class="container">

            Un e-mail de confirmation vous a été envoyé. Cliquez sur le lien d'activation afin de finaliser votre inscription.
        </div>
    </div>
{% endblock %}