{% extends 'base.html.twig' %}

{% block title %}CONNEXION{% endblock %}
{% block header %}
    <div class="col l12 header">
        <br><p>Un e-mail de confirmation vous a été envoyé. Cliquez sur le lien d'activation afin de finaliser votre inscription.</p>
    </div>
{% endblock %}