{% extends 'base.html.twig' %}

{% block title %}SNOWTRICKS LOGIN{% endblock %}
{% block header %}
<div class="container">
    <div class="row">
        <div class="col l8 offset-l2 s10 offset-s1">
            <br>{% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="col l12">
            {% if error %}
                <div class="form-errors">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        <h2><i class="medium material-icons prefix">person</i> Se connecter</h2></div>
    </div>
    <div class="row">
        <form action="{{ path('login') }}" method="post" role="form">
            <div class="input-field col s12">
                <i class="material-icons prefix white-text">account_circle</i>
                <label for="pseudo" class="active">Pseudo</label>
                <input name="pseudo" id="last_name" type="text" class="validate white-text"/>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix white-text">vpn_key</i>
                <label for="password" class="active">Mot de passe</label>
                <input name="password" type="password" class="validate white-text"/>
            </div>
            <div class="col s12 center-align">
                <button type="submit" name="connecter" class="waves-effect waves-light btn-small green darken-1">Valider</button>
                <button type="submit" name="reinitialiser" class="waves-effect waves-light btn-small pink darken-1">Réinitialiser</button>
            </div><br>
        </form>
        <div class="panel-footer white-text">
            Pas encore enregistré ? <a href="/inscription">Inscrivez-vous !</a>
        </div><br>
        <a href="/">Revenir à la page d'accueil</a>
    </div>
</div>
{% endblock %}


